<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cl.meiqia.mapper.SessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.cl.meiqia.entity.Session">
        <result column="meeting_id" property="meetingId" />
        <result column="initiator_id" property="initiatorId" />
        <result column="recipient_id" property="recipientId" />
        <result column="msg_type" property="msgType" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        meeting_id, initiator_id, recipient_id, msg_type, create_time, status
    </sql>

</mapper>
