<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cl.meiqia.mapper.BalanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.cl.meiqia.entity.Balance">
        <id column="user_id" property="userId" />
        <result column="amounts" property="amounts" />
        <result column="checksum" property="checksum" />
        <result column="locked" property="locked" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, amounts, checksum, locked
    </sql>

</mapper>
